#breadcrumb_bar {
    display: flex;
    align-items: center;
}

.breadcrumb {
    flex: 1;
    margin: 5px 20px;
    text-align: center;
    background: white;
    padding: 8px 4px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
}
.breadcrumb.active {
    background: rgb(122,181,29);
    color: white;
    font-weight: bold;
}
.breadcrumb.disabled {
    color: rgb(120,120,120);
}

#cart_interaction {
    text-align: left;
    display: flex;
    align-items: center;
}
#cart_interaction > button{
  font-size: 1.4em;
  background: rgb(122,181,29);
  color: white;
  font-weight: bold;
}
#cart_interaction > #cart_interaction_info{
  margin-left: 5px;
}



/* warenkorb1 */
#auth_choice {
    margin-top: 50px;
}
#new_mTAN {
    margin-top: 5px;
}
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid;
    text-align: center;
}
.auth_input {
  background: rgb(0, 58, 121);
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.auth_input > span{
  margin-right: 7px;
}
